version: "3.8"
services:
    minecraftserver:
        build: .
        command: /bin/bash -c "/src/scripts/startServer.sh"
        ports:
            - "25566:25565"
        working_dir: /var/games/minecraft/servers/unkledrew
        volumes:
            - minecraft-data:/var/games/minecraft/servers/unkledrew

volumes:
    minecraft-data:
        external: true